
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}
<div>

</div>
{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4>{{ 'SIDEBAR.RELATED_POSTS.HEADLINE'|t }}</h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4>{{ 'SIDEBAR.RANDOM_ARTICLE.HEADLINE'|t }}</h4>
	<a class="button" href="{{ base_url }}/random"><i class="fa fa-retweet"></i> {{ 'SIDEBAR.RANDOM_ARTICLE.FEELING_LUCKY'|t }}</a>
</div>
{% endif %}

{% if taxonomy.findTaxonomy({'category':['featured']})|length>0 %}
  <h4> Editor's Choice </h4>
  {% for article in taxonomy.findTaxonomy({'category':['featured']})%}
    <p><a href="{{article.URL}}">{{ article.title }}</a></p>
  {% endfor %}
{% endif %}
<hr class="sidebar-line">
<img id="umm-logo" src="{{ url('theme://images/Morris-logo-RGB.png') }}" />


<!--
{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.POPULAR_TAGS.HEADLINE'|t }}</h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.ARCHIVES.HEADLINE'|t }}</h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4>Events</h4>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=bushw011%40morris.umn.edu&ctz=America/Chicago" style="border-width:0" width="320" height="480" frameborder="0" scrolling="no"></iframe></div>
{% endif %}
</div>
!-->
